/**
 * Mixins
 *
 * @author magnify
 */
/* Breakpoints
   ========================================================================== */
/* Media query
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Typography mixins
 *
 * These are mixins to allow for use in media queries
   ========================================================================== */
/* Availability
   ========================================================================== */
/* Pseudo arrow
 *
 * Usage example: pseudo-arrow(10px, #000, top, center, $offset: 20px)
   ========================================================================== */
/* Colors variables
   ========================================================================== */
.pane-search-form {
  position: relative;
}
.pane-search-form #search-block-form .form-actions {
  float: left;
  position: absolute;
  width: auto;
  right: 20%;
}
.pane-search-form #search-block-form .form-actions > a {
  float: left;
  display: inline-block;
  margin: -2px 10px 0 0;
  line-height: 60px;
  min-height: 60px;
  height: auto !important;
  height: 60px;
}
@media only screen and (min-width: 769px) {
  .pane-search-form #search-block-form .form-actions > a {
    background-color: transparent;
    color: #333;
    text-decoration: underline;
  }
}
@media only screen and (max-width: 768px) {
  .pane-search-form #search-block-form .form-actions > a {
    display: none;
  }
}
.pane-search-form #search-block-form .form-actions input[type="submit"] {
  width: 35%;
}
.pane-search-form #search-block-form .form-item-search-block-form {
  width: 75%;
}
.pane-search-form #search-block-form #ting-extended-search-fieldset {
  width: 75%;
  float: left;
  padding: 0;
  background-color: #fff;
}
.pane-search-form #search-block-form #ting-extended-search-fieldset .ting-ext-search-col {
  width: 50%;
  display: inline-block;
  float: left;
  padding: 10px;
}
.pane-search-form #search-block-form #ting-extended-search-fieldset .ting-ext-search-col .form-radios,
.pane-search-form #search-block-form #ting-extended-search-fieldset .ting-ext-search-col .form-checkboxes {
  line-height: initial;
}
.pane-search-form #search-block-form #ting-extended-search-fieldset .ting-ext-search-col .form-radios .form-radio,
.pane-search-form #search-block-form #ting-extended-search-fieldset .ting-ext-search-col .form-radios .form-checkbox,
.pane-search-form #search-block-form #ting-extended-search-fieldset .ting-ext-search-col .form-checkboxes .form-radio,
.pane-search-form #search-block-form #ting-extended-search-fieldset .ting-ext-search-col .form-checkboxes .form-checkbox {
  min-height: initial;
}
.pane-search-form #search-block-form #ting-extended-search-fieldset.collapsed {
  padding: 0;
  height: 0;
  border: 0;
}
.pane-search-form #search-block-form #ting-extended-search-fieldset legend {
  display: none;
}
.pane-search-form #search-block-form #ting-extended-search-fieldset .description {
  display: none;
}
.pane-search-form #search-block-form #ting-extended-search-fieldset .fieldset-wrapper {
  width: 100%;
}
.pane-search-form #search-block-form #ting-extended-search-fieldset .fieldset-wrapper > .form-item {
  margin-bottom: 10px;
}
@media only screen and (min-width: 769px) {
  .pane-search-form #search-block-form #ting-extended-search-fieldset .fieldset-wrapper > .form-item {
    width: 44.44444%;
    float: left;
    margin-right: 11.11111%;
  }
  .pane-search-form #search-block-form #ting-extended-search-fieldset .fieldset-wrapper > .form-item:nth-of-type(2n + 2) {
    float: right;
    margin-right: 0;
  }
}
.pane-search-form #search-block-form #ting-extended-search-fieldset input {
  background-color: #dadada;
  padding-right: 8px;
  padding-left: 8px;
  border: 1px solid #ccc;
}
.pane-search-form #search-block-form #ting-extended-search-fieldset input,
.pane-search-form #search-block-form #ting-extended-search-fieldset .select-wrapper {
  border-radius: 0;
  width: 100%;
}
.pane-search-form #search-block-form #ting-extended-search-fieldset label {
  color: #000;
  font-weight: 700;
}
