/**
 * Mixins
 *
 * @author magnify
 */
/* Breakpoints
   ========================================================================== */
/* Media query
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Typography mixins
 *
 * These are mixins to allow for use in media queries
   ========================================================================== */
/* Availability
   ========================================================================== */
/* Pseudo arrow
 *
 * Usage example: pseudo-arrow(10px, #000, top, center, $offset: 20px)
   ========================================================================== */
/* Colors variables
   ========================================================================== */
.ding2-site-template .site-header .header-inner .pane-search-form .form-actions #search-extend-term {
  right: 170px;
}
@media (max-width: 1024px) {
  .ding2-site-template .site-header .header-inner .pane-search-form .form-actions #search-extend-term {
    right: 140px;
    width: 60%;
  }
}
.ding2-site-template .site-header .header-inner .pane-search-form .form-actions a.extend-search {
  position: absolute;
  width: 50%;
  right: 60px;
  text-align: right;
  visibility: hidden;
  padding-right: 10px;
}

.ting-ext-search-col {
  width: 49%;
  display: inline-block;
  float: left;
  padding: 10px;
}
.ting-ext-search-col .form-radios,
.ting-ext-search-col .form-checkboxes {
  line-height: initial;
}
.ting-ext-search-col .form-radios .form-radio,
.ting-ext-search-col .form-radios .form-checkbox,
.ting-ext-search-col .form-checkboxes .form-radio,
.ting-ext-search-col .form-checkboxes .form-checkbox {
  min-height: initial;
}

#ting-ext-search-left {
  margin-right: 2%;
}

#search-radios.two-radio-button {
  left: 630px;
}

.page-search .search .form-actions a.fieldset-title {
  display: none;
}

.search {
  position: relative;
}
.search .form-actions > a {
  min-height: 60px;
  height: auto !important;
  height: 60px;
  display: inline-block;
  margin: -2px 10px 0 0;
  line-height: 60px;
}
@media only screen and (min-width: 769px) {
  .search .form-actions > a {
    background-color: transparent;
    color: #333;
    text-decoration: underline;
  }
}
@media only screen and (max-width: 768px) {
  .search .form-actions > a {
    display: none;
  }
}
.search .collapsible {
  /*@include zen-grid-container();
  margin-bottom: 0;*/
  max-width: 660px;
  margin-left: -400px;
  background-color: #fff;
  /* &#edit-advanced {
     padding: 10px;
   }*/
}
@media (max-width: 1024px) {
  .search .collapsible {
    width: 540px;
    margin-left: -300px;
  }
}
.search .collapsible.collapsed {
  padding: 0;
  height: 0;
  border: 0;
}
.search .collapsible legend {
  display: none;
}
.search .collapsible .description {
  display: none;
}
.search .collapsible .fieldset-wrapper {
  float: inherit;
}
.search .collapsible .fieldset-wrapper > .form-item {
  margin-bottom: 10px;
}
@media only screen and (min-width: 769px) {
  .search .collapsible .fieldset-wrapper > .form-item {
    width: 44.44444%;
    float: left;
    margin-right: 11.11111%;
  }
  .search .collapsible .fieldset-wrapper > .form-item:nth-of-type(2n + 2) {
    float: right;
    margin-right: 0;
  }
}
.search .collapsible input {
  background-color: #dadada;
  padding-right: 8px;
  padding-left: 8px;
  border: 1px solid #ccc;
}
.search .collapsible input,
.search .collapsible .select-wrapper {
  border-radius: 0;
  width: 100%;
}
.search .collapsible label {
  color: #000;
  font-weight: 700;
}

@media only screen and (min-width: 769px) {
  .page-search .search .form-actions .fieldset-title.extend-search,
  .page-search .search #edit-advanced {
    margin-top: 0;
  }
}

fieldset#edit-advanced {
  padding: 0;
}
