@import "../../../themes/ddbasic/sass/_base.scss";
@import "susy";

// Extended search
// ========================================================================== //
.page-search {
  .pane-search-form #search-block-form {
    .form-actions {
      right: 1px;
      @include media($mobile) {
        width: 70px;
      }
    }
  }
}

.mobile-search-is-open .header-inner section.search {
  @include media($mobile) {
    padding-bottom: 75px;
  }
}


.mobile-search-is-open .header-wrapper section.search-block-form-extend-terms {
  @include media($mobile) {
    #search-block-form {
      #ting-extended-search-fieldset {
        top: 61px;
        width: 100%;
      }
    }
  }
}

.pane-search-form {
  #search-block-form {
    .form-actions {
      > a {
          position: absolute;
          right: 100px;
          line-height: 60px;
          min-height: 60px;
          margin-right: 0;

        @include media($mobile) {
          margin-right:0;
          width: 100%;
          min-width: 150px;
          background: $white;
          min-height: 54px;
          padding-left: 20px;
          left: 0;
          right: inherit;
          background: $white;
          padding: 0;
          display: block;
          margin: 0;
          border-radius: 5px;
          line-height: 60px;
        }
      }

      & a:first-child {
        margin-right: 110px;
        min-width: 145px;

        @include media($mobile) {
          top: 60px;
          width: 100%;
          min-width: 150px;
          min-height: 54px;
          padding-left: 20px;
          left: 0;
          right: inherit;
          background: $white;
          display: block;
          margin: 0;
          border-radius: 5px;
          line-height: 60px;
          @include span(3 of 3);
        }
      }

      & a:only-of-type {
        position: absolute;
        right: 100px;
        line-height: 60px;
        height: 60px;
        margin-right: 0;

        // Media till-medium
        @include media($mobile) {
          top: 60px;
          min-width: 145px;
          margin-right:0;
          width: 100%;
          min-width: 150px;
          height: 54px;
          padding-left: 20px;
          left: 0;
          right: inherit;
          display: block;
          margin: 0;
          border-radius: 5px;
          line-height: 60px;
         
          .element-invisible {
            display: none;
            height: 0
          }
        }
      }

      #avanceret-sgning,
      #advanced-search {
        position: absolute;

        // Media till-medium
        @include media($mobile) {
          .element-invisible {
            display: none;
            height: 0
          }
        }
      }
    }

    .form-actions.form-wrapper {
      @include media($mobile) {
        width: 100%;
  
        input.form-submit {
          width: 70px;
          position: absolute;
          right: 0;
        }
      }
    }

    #ting-extended-search-fieldset {
      width: 93%;
      padding: 0;
      background-color: $white;
      @include media($mobile) {
        width: 100%;
      }

      .ting-ext-search-col {
        width: 50%;
        float: left;
        padding: 15px;

        @include media($mobile) {
          padding: 7px;
          font-size: 13px;
        }

        .form-radios,
        .form-checkboxes {
          line-height: initial;

          .form-radio,
          .form-checkbox {
            min-height: initial;
          }
        }
      }

      @include media($tablet) {
        height: 285px;
        overflow-y: visible;
      }

      @include media($mobile) {
       &:first-child {
          top: 0;
          width: 100%;
          height: 285px;
          overflow-y: visible;
        }

        &:only-of-type {
          top: 61px;
          width: 100%;
        }

        input,
        input::-webkit-input-placeholder {
            font-size: 12px;
            line-height: 3;
        }
      }

      &.collapsed {
        padding: 0;
        height: 0;
        border: 0;
      }

      legend {
        display: none;
      }

      .description {
        display: none;
      }

      .fieldset-wrapper{
        width: 100%;

        > .form-item {
          margin-bottom: 10px;

          // Media tablet
          @include media($tablet) {
            $gutter-width: .5em !global;
            @include span(1 of 2);

            &:nth-of-type(2n + 2) {
              @include omega;
            }
          }
        }
      }

      // Input and select styles
      input, .select-wrapper {
        padding: 0 0 0 10px;
        border: 1px solid $grey;
        height: 45px;

        select {
          padding: unset;
          height: 45px;

          @include media($mobile) {
            padding-right: 85px;
            font-size: 12px;
          }
        }
      }

      // Labels
      label {
        text-transform: capitalize;
      }
    }
  }
}
