@import "../../../themes/ddbasic/sass/_base.scss";
@import "susy";

// Extended search
// ========================================================================== //
.page-search {
  .pane-search-form #search-block-form {
    .form-actions {
      @include media($mobile) {
        width: 70px;
      }
    }
  }
}

.pane-search-form {
  #search-block-form {
    .form-actions {
      > a {
        position: absolute;
        right: 100px;
        line-height: 60px;
        min-height: 60px;

        // Media from-medium
        @include media($tablet) {
          background-color: transparent;
          color: $grey-dark;
          text-decoration: underline;
        }

        // Media till-medium
        @include media($mobile) {
          display: none;
          padding: 0;
          margin: 0;
          .element-invisible {
            display: none;
            height: 0
          }
        }
      }

      #avanceret-sgning,
      #advanced-search {
        position: absolute;
        right: 200px;

        // Media from-medium
        @include media($tablet) {
          background-color: transparent;
          color: $grey-dark;
          text-decoration: underline;
        }

        // Media till-medium
        @include media($mobile) {
          display: none;
          padding: 0;
          margin: 0;
          .element-invisible {
            display: none;
            height: 0
          }
        }
      }
    }

    #ting-extended-search-fieldset {
      width: 93%;
      padding: 0;
      background-color: $white;

      .ting-ext-search-col {
        width: 50%;
        float: left;
        padding: 15px;

        .form-radios,
        .form-checkboxes {
          line-height: initial;

          .form-radio,
          .form-checkbox {
            min-height: initial;
          }
        }
      }

      &.collapsed {
        padding: 0;
        height: 0;
        border: 0;
      }

      legend {
        display: none;
      }

      .description {
        display: none;
      }

      .fieldset-wrapper{
        width: 100%;

        @include media($tablet) {
          width: 450px;
        }

        > .form-item {
          margin-bottom: 10px;

          // Media tablet
          @include media($tablet) {
            $gutter-width: .5em !global;
            @include span(1 of 2);

            &:nth-of-type(2n + 2) {
              @include omega;
            }
          }
        }
      }

      // Input and select styles
      input, .select-wrapper {
        padding: 0 0 0 10px;
        border: 1px solid $grey;
        height: 45px;

        select {
          padding: unset;
          height: 45px;
        }
      }

      // Labels
      label {
        text-transform: capitalize;
      }
    }
  }
}
