@import "../../../themes/ddbasic/sass/_base.scss";
@import "susy";

// Extended search
// ========================================================================== //
.page-search {
  .pane-search-form #search-block-form {
    .form-actions {
      width: 280px;
      right: 1px;

      @include media($mobile) {
        width: 70px;
      }
    }
  }
}

.pane-search-form {
  position: relative;
  #search-block-form {
    .form-actions {
      float: left;
      position: absolute;
      min-width: 410px;
      right: 10%;

      @include media($mobile) {
        min-width: 50px;
      }

      > a {
        float: left;
        display: inline-block;
        margin: -2px 10px 0 0;
        line-height: 60px;
        min-height: 60px;

        // Media from-medium
        @include media($tablet) {
          background-color: transparent;
          color: $grey-dark;
          text-decoration: underline;
        }

        // Media till-medium
        @include media($mobile) {
          display: none;
          padding: 0;
          margin: 0;
          .element-invisible {
            display: none;
            height: 0
          }
        }
      }
      input[type="submit"] {
        width: 35%;
        @include media($mobile) {
          float: right;
          width: 115px;
        }
      }
    }

    .form-item-search-block-form {
      width: 75%;
    }

    #ting-extended-search-fieldset {
      width: 75%;
      float: left;
      padding: 0;

      .ting-ext-search-col {
        width: 50%;
        display: inline-block;
        float: left;
        padding: 10px;

        .form-radios,
        .form-checkboxes {
          line-height: initial;

          .form-radio,
          .form-checkbox {
            min-height: initial;
          }
        }
      }

      background-color: $white;

      &.collapsed {
        padding: 0;
        height: 0;
        border: 0;
      }

      legend {
        display: none;
      }

      .description {
        display: none;
      }

      .fieldset-wrapper{
        width: 100%;

        @include media($tablet) {
          width: 450px;
        }

        > .form-item {
          margin-bottom: 10px;

          // Media tablet
          @include media($tablet) {
            $gutter-width: .5em !global;
            @include span(1 of 2);

            &:nth-of-type(2n + 2) {
              @include omega;
            }
          }
        }
      }

      // Inputs styles
      input {
        background-color: $grey-light;
        padding-right: 8px;
        padding-left: 8px;
        border: 1px solid $grey-medium;
      }

      input,
      .select-wrapper {
        border-radius: 0;
        width: 100%;
      }

      // Labels
      label {
        color: $black;
        font-weight: 700;
      }
    }
  }
}
